// #BetterNavigator {
// 	display: none;
// }
/* Search Bar */
input[type=text].uiowa-bar__search-input {
	background: #fff2c6;
	color: #333;
	line-height: normal;
	&:focus {
		outline-color: #ffe488;
	}
}
.header {
	background-color: #fff;
	padding: 4px 0;
	border-bottom: 3px solid $highlight;
}
.header.stuck {
	@include media-breakpoint-down(md) {
		position: relative;
	}
}
/* Navbar ==================== */
.navbar {
	padding-left: 0;
	padding-right: 0;
}
.navbar .nav-link {
	font-size: $font-size-base * .775;
	text-transform: uppercase;
}
.navbar-nav .dropdown-menu {
	font-size: $font-size-base * .8;
}
.navbar-expand-lg .navbar-nav .nav-link {
	margin: 0 1px;
	border-radius: 3px;
	position: relative;
	&:before {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		max-width: 50px;
		background-color: #ffcd00;
		opacity: 0;
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		transition: all .125s ease-in;
		position: absolute;
		left: 0;
		bottom: 6px;
		display: inline-block;
		max-width: 100%;
		visibility: hidden;
	}
}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
	@include media-breakpoint-up(lg) {
		// background-color: $highlight;
		&:before {
			opacity: 1;
			-webkit-transform: translateY(0);
			transform: translateY(0);
			visibility: visible;
		}
	}
}
.navbar-brand {
	font-family: $headings-font-family;
}
.uiowa-bar__link:hover, .uiowa-bar__link:focus {
	color: #999;
}

a.skip-link {
	display: block;
	background-color: #555;
	color: #fff;
	position: absolute;
	top: -100%;
	right: 0;
	left: 0;
	z-index: 1400;
	padding: 20px;
	text-align: center;
	-webkit-transition: top .35s,-webkit-transform .35s;
	transition: top .35s,-webkit-transform .35s;
	transition: transform .35s,top .35s;
	transition: transform .35s,top .35s,-webkit-transform .35s;
}
a.skip-link:focus, a.skip-link:active {
	outline: 0;
	top: 0;
	text-decoration: underline;
}