/*-------------------------------------------
    Bootstrap Configuration
    variables are in node_modules/bootstrap/scss/_variables.scss
-------------------------------------------*/

// Color system
$blue: #0071EB;
$gold: #ffcd00;
$highlight: $gold;


$body-bg: #f8f6f3;
$body-color: #343a40;
$text-muted: #687178;
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);


// Fonts
$enable-responsive-font-sizes: true;
$font-family-base: "Raleway",sans-serif;
$headings-font-family: "EB Garamond",serif;
$font-size-base: 1.1rem;
$font-weight-normal: 500;
$headings-font-weight: 400;
$line-height-base: 1.6;
$headings-line-height: 1.3;
$lead-font-size: $font-size-base * 1.35;

// Jumbotron
$jumbotron-padding: 6rem;
$jumbotron-color: #333;
$jumbotron-bg: #f6f9fc;

// Spacing
$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 9),
  9: ($spacer * 12),
  10: ($spacer * 15)
);

$navbar-light-color: rgba(#000, .6);


//BigfootJS Settings:

$button-color: rgb(110, 110, 110);