// #BetterNavigator {display: none;}
img {
	max-width: 100%;
}
.bgcover {
	background-image: url(../images/law.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $gray-800;
	min-height: 700px;
	padding: 5em 0;
	display: flex;
	align-items: flex-end;
	&__text {
		color: $gray-200;
	}
}



/* Hero =
========================================= */
.ab {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2px;
	&__a {
		background-color: #fff;
		padding: 2em;
		text-align: center;
	}
}