// #BetterNavigator {display: none;}
img {
	max-width: 100%;
}
.bgcover {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $gray-800;
	min-height: 90vh;
	padding: 5em 0;
	display: flex;
	align-items: flex-end;
	&__text {
		color: $gray-100;
		text-shadow: 1px 1px rgba(0,0,0,.2);
	}
}



/* Hero =
========================================= */
.ab {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2px;
	&__a {
		background-color: #fff;
		padding: 2em;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		& h3 {
			 font-variant: small-caps;
		}
		& p {
			font-size: 90%;
		}
	}
}
.ab__a:hover {
	background-color: $black;
	& h3, & p {
		color: #fff;
	}

}

.hp-one {
	background-color: $black;
	color: $gray-100;
}
.hp-two {
	margin-top: -80px;
}


/* Social Media Tabs
============================================= */
.nav-tabs .nav-link {
	border-top: 3px solid transparent;
	background-color: $gold;
	color: $gray-800;
	font-size: $font-size-sm;
	&:hover {
		background-color: #fff;
		border-top-color: $gold;
	}
}
.nav-tabs .nav-link.active {
	border-top-color: $gold;
}
.nav-tabs .nav-item:first-of-type {
	border-right: 1px solid $gray-700;
}
.tab-content {
	border: 1px solid $gray-700;
	border-top: none;
	&>.active {
		overflow: auto;
	}
}









